<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document Flow</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Lato|Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="header.html::header"></div>
<div th:replace="header.html::section"></div>
<section>
    <button class="addDocument" onclick="showModalDocument('block')"><i class="fa fa-plus"></i>Новый Документ</button>
    <table class="document-table" id="document-table">
        <tbody>
        <tr th:each="document : ${documents}">
            <td class="button-icon">
                <div class="button-icon-conteiner"><a class="small-button"><i class="fa fa-pencil fa-2x"></i></a>
                </div>
            </td>
            <td class="document-name" th:text="${document.documentNumber}"></td>
            <td class="document-name" th:text="${document.documentDate}"></td>
            <td class="document-amount" th:text="${document.amount}"></td>
            <td class="button-icon">
                <form onclick="deleteDocument();return false;" class="delete-account" th:action="@{/delDoc}"
                      method="post"
                      accept-charset=utf-8>
                    <div class="button-icon-conteiner">
                        <button class="small-button" th:id="'button' + ${document.documentNumber}"
                                th:value="${document.documentNumber}"
                                onclick="getNumber(this.id);"><i class="fa fa-bitbucket fa-2x"></i></button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <p th:text="${messages}"></p>
    <div class="addDocument-window" id="addDocument-window">
        <form id="create-new-document" class="create-new-document" th:action="@{/addDoc}" method="post"
              accept-charset=utf-8>
            <div class="wrapper-create-new-document">
                <header class="modal-document-head">
                    <p class="modal-document-title">Документ
                    <div class="close-button" onclick="showModalDocument('none')"><i
                            class="fa fa-times-circle fa-2x"></i></div>
                    </p>
                </header>
                <section class="section-document-modal">
                    <div class="document-name-type">
                        <div class="wrapper-name">
                            <label>Название<input id="name" type="text"></label>
                        </div>
                        <div class="wrapper-number">
                            <label>Номер<input id="number" type="text"></label>
                        </div>
                        <div class="wrapper-amount">
                            <label>Сумма<input id="amount" type="text"></label>
                        </div>
                    </div>
                </section>
                <div id="hidden-document" class="footer-document-modal">
                    <input id="save-document" th:type="reset" class="save-document" type="submit"
                           onclick="addDocument();return false;"
                           value="Сохранить">
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    document.getElementById("hidden-document").onclick = () =>
    {
        document.getElementById("create-new-document").style.display = "none";
    }
</script>
<script type="text/javascript" th:src="@{/js/addDocument.js}" src="/js/addDocument.js"></script>
<script type="text/javascript" th:src="@{/js/deleteDocument.js}" src="/js/deleteDocument.js"></script>
<script type="text/javascript" th:src="@{/js/showModalDocument.js}" src="/js/showModalDocument.js"></script>
<script type="text/javascript" th:src="@{/js/getNumber.js}" src="/js/getNumber.js"></script>
<script type="text/javascript" th:src="@{/js/clearForm.js}" src="/js/clearForm.js"></script>
</body>
</html>