<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document Flow</title>
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Lato|Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header class="main-header" th:fragment="header">
    <div class="wrapper-botton-registration">
        <div class="wrapper-botton-o-exit">
            <a class="registration-button" th:href="@{/logout}">Выйти</a>
        </div>
    </div>
    </div>
</header>
<section class="top-menu" th:fragment="section">
    <div class="top-menu-conteiner">
        <nav class="main-navigation">
            <a class="main-header-logo">
                <div class="logo">
                    <img th:src="@{/images/file-folder.png}" src="/images/file-folder.png" width="95"
                         height="110">
                </div>
            </a>
            <a class="main-link" href="/document">Document Flow</a>
            <div class="main-navigation-wrapper">
                <div class="container">
                    <ul class="site-navigation">
                        <li class="down"><a th:href="@{/document}" class="down-center">Документы</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>
</body>
</html>