<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document Flow</title>
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Lato|Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<main class="main-auth">
    <section class="auth">
        <div class="auth-conteiner">
            <form class="auth-form" th:action="@{/login}" method="post" accept-charset=utf-8>
                <img th:src="@{/images/file-folder.png}" src="/images/file-folder.png" width="115" height="135">
                <div class="wrapper-login">
                    <label class="login">Login: <input id="login" name="username" type="text"></label>
                </div>
                <div class="wrapper-password">
                    <label class="password">Password: <input th:type="password" id="password" name="password"
                                                             type="text"></label>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <input class="signIn" type="submit" value="Войти">
                <span class="hidden-auth-span"></span>
            </form>
        </div>
    </section>
</main>
</body>
</html>