body{
    margin: 0;
    padding: 0;

    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;


    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

.main-header{
    height: 60px;
    background-color: #3273dc;
    color: #fff;
}

.header-conteiner{
    width: 1344px;
    margin: 0 auto;
    display: flex;
}
.wrapper-botton-registration{
    padding-left: 1600px;
    padding-top: 18px;
    display: flex;
}

.wrapper-botton-o{
    padding-top: 15px;
}
.o-button{
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: .75rem;
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.375em - 1px);
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;
    height: 2.25em;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
}
.registration-button:not(.is-white):not(.is-static):not(.is-text):not(.hm-noshadow){
    border-width: 1px;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: calc(.375em - 1px);
    padding-top: calc(.375em - 1px);
    text-align: center;
    white-space: nowrap;
    -webkit-appearance: none;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid transparent;
    height: 2.25em;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    -moz-user-select: none;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    transition: all .15s ease;
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: .75rem;
    background-color: #ffdd57;
    border-color: transparent;
    color: rgba(0,0,0,.7);
}

.top-menu{
    background-color: #f5f5f5;
    height: 165px;
}

.top-menu-conteiner{
    width: 1344px;
    margin: 0 auto;
}
.main-navigation{
    display: flex;
    height: 100px;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.85;
}

.main-header-logo{
    width: 150px;
    height: 70px;
    padding: 10px;
}

.main-link{
    font-family: 'Aguafina Script', cursive;
    font-size: 24px;
    padding: 10px;
    margin-top: 65px;
    color: #363636;
}


.main-navigation-wrapper{
    padding-right: 366px;
    height: 55px;
    padding-top: 0px;
    margin-top: 105px;
    margin-right: 196px;
    width: 1160px;
}

.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}
.site-navigation,
.user-navigation{
    list-style: none;
}

.site-navigation a,
.user-navigation a{
    display: block;
    padding: 25px 20px;

    vertical-align: middle;
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
    border: 1px solid #ffdd57;
    background-color: #f5f5f5;
}

.wrapper-botton-o-conteiner a{
    text-decoration: none;
}

.wrapper-botton-o-conteiner:hover,
.wrapper-botton-o-conteiner:focus {
    border: 1px solid #ffdd57;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.wrapper-botton-o-exit:hover,
.wrapper-botton-o-exit:focus {
    border: 1px solid #ffdd57;
    background-color: #f5f5f5;
    border-radius: 25px;
    height: 21px;
}

.wrapper-botton-registration a:hover,
.wrapper-botton-registration a:focus {
    border: 1px solid #ffdd57;
    background-color: #f5f5f5;
    text-decoration-line: none;
}

.site-navigation a{
    border-radius: 20px;
}

.user-navigation{
    max-width: 150px;
}

.site-navigation{
    display: flex;
    flex-wrap: wrap;
    width: 850px;
}

.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.site-navigation > li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}

.down{
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #eaeaea;
    margin-top: 10px;
    height: 72px;
    list-style: none;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.list{
    height: 40px;
}

.down-link{
    height: 40px;
}

.down-center{
    text-align: center;
}

.indent{
    margin-left: 5px;
    margin-right: 5px;
}

.down:after {
    content: "";
    margin-left: 8px;
    font-family: 'Lora', serif;
}

.submenu {
    background: white;
    border: 2px solid #003559;
    position: static;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 185px;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;
    padding-right: 15px;
    padding-left: 21px;
    height: 215px;
}

.submenu li a {
    color: #7f7f7f;
    font-size: 13px;
    line-height: 36px;
    padding: 0 25px;
    font-family: 'Lora', serif;
}

/*DOCUMENT SECTION*/

.document-table{
    width: 670px;
    margin-left: 280px;
}

.document-table td{
    border-width: 0 0 1px 0;
    border-style: dotted;
    border-collapse: collapse;
}

.document-table td,th{
    border-width: 0 0 1px 0;
}

.button-icon{
    width: 30px;
}

.button-icon-conteiner{
    width: 30px;
    height: 30px;
}

.button-icon-conteiner i:focus,
.button-icon-conteiner i:hover{
    opacity: 1;
    border: 1px solid #ffdd57;
    background-color: #f5f5f5;
}

.fa.fa-pencil{
    opacity: 0.1;
}

.document-name{
    width: 485px;
}

#modal-background{
    background-color: rgba(10,10,10,.86);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    z-index: 100;
}

.addDocument{
    background-color: #fff;
    width: 140px;
    height: 40px;
    margin-left: 280px;
    border-radius: 20px;
    margin-top: 35px;
}
.fa.fa-plus{
    padding-right: 4px;
}

.fa.fa-times-circle{
    cursor: pointer;
}

.fa.fa-times-circle:focus,
.fa.fa-times-circle:hover{
}

.close-button{
    padding-left: 220px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    margin-bottom: 0px;
    margin-top: -40px;
    margin-left: 30px;
}

.addDocument:focus,
.addDocument:hover{
    background-color: #f5f5f5;
    border: 1px solid #ffdd57;
}

.addDocument-window{
    width: 640px;
    height: 306px;
    margin: 0 auto;
}

.create-new-document{
    margin: 0 auto;
    background-color: #fff;
    display: none;
    z-index: 150;
    position: fixed;
}

.modal-document-head{
    width: 300px;
    height: 65px;
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #f5f5f5;
}

.modal-document-title{
    color: #000000;
    padding-top: 9px;
    padding-left: 20px;
}

.footer-document-modal{
    width: 300px;
    height: 77px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid #dbdbdb;
    background-color: #f5f5f5;
}

.wrapper-create-new-document{
    display: grid;
    width: 250px;
}

.wrapper-name,.wrapper-number,.wrapper-amount{
    margin-top: 2px;
}

#name{
    width: 359px;
}
.document-list-navigation{
    display: grid;
    position: absolute;
    margin-bottom: 690px;
    bottom: 0;
    margin-left: 350px;
}

.type{
    width: 100px;
}
.type-document-model{
    width: 190px;
}

.title-document-list{
    margin-left: 600px;
}

#name {
    width: 199px;
}
.section-document-modal{
    height: 164px;
    background-color: #fff;
}

.save-document{
    background-color: #3f9142;
    border-color: transparent;
    border-radius: 4px;
    margin-left: 175px;
    margin-top: 18px;
    width: 112px;
    height: 36px;
    cursor: pointer;
}

.wrapper-update-document{
    display: grid;
}

#update-this-document{
    width: 200px;
}


/*LOGIN*/
.auth{
    margin: 0 auto;
    padding-top: 100px;
}

.auth-conteiner{
    border-width: 1px;
    border-color: #ffdd57;
    border-radius: 4px;
    border-style: solid;
    color: #4a4a4a;
    padding: 1.25em 1.5em;
    height: 345px;
    width: 240px;
    margin: 0 auto;
}

.login{
    margin-left: 6px;
}

.password{
    margin-left: 4px;
}

.auth-form img{
    margin-left: 80px;
}

.auth-form label{
    margin-left: 0px;
}

.signIn{
    margin-left: 77px;
    margin-top: 32px;
    border-radius: 3px;
    background-color: #3f9142;
    border-color: transparent;
    color: #fff;
    height: 30px;
    width: 85px;
}

.hidden-auth-span{
    height: 30px;
    display: block;
}
